/* ===== ===== ===== General ===== ===== ===== */
.body {
    font-family: Verdana
}
/* ===== ===== ===== Background Image ===== ===== ===== */
.bg-img {
    height: 125vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.85);

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ===== ===== ===== Navbar ===== ===== ===== */
.navbar {
    background-color: rgba(98, 111, 71, 1); /*#626F47*/
    /*backdrop-filter: blur(5px);*/

    position: fixed;
    width: 100%;
    height: 65px;
}
.nav-link {
    transition: all 0.2s;
    margin-left: 15px;
    margin-right: 15px;
}
.nav-link:hover {
    color: #FEFAE0;
}
.nav-link:hover::after {
    color: #FFCF50;
}

/* ===== ===== ===== Our Goal ===== ===== ===== */
.our-goal-section {
    padding-top: 60px; /*To not make section look squished by navbar*/
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.our-goal-section .container {
    padding: 5%;
    width: 100vw;
    height: 60vh;

    background: rgba(24, 20, 0, 0.6);
    color: white;
    text-align: center;
}

/* ===== ===== ===== Button ===== ===== ===== */
.btn-brand {
    margin-top: 5%;
    background-color: #ffc250df;
    border: none;

    color: white;
}
.btn-brand:hover {
    background-color: #626F47;
}

/* ===== ===== ===== Texts ===== ===== ===== */
h1 {
    color: white;;
}

/* ===== ===== ===== Tags ===== ===== ===== */
.tags {
    height: 4vh;
    width: fit-content;
    border-radius: 10px;
    background-color: #626F47;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    padding: 10px;
    font-weight: bold;
}

.remove-tag {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    padding-left: 10px;
}