
/* ===== ===== ===== Panels ===== ===== ===== */
.push-down {
    padding-top: 50px;
}

.scrollable-panel { /* Scrollable right panel */
    height: 100vh;
    overflow-y: auto;
}

/* ===== ===== ===== Left Panel ===== ===== ===== */
.p-4 { /* Title on the left panel*/
    color: white;
    font-weight: 550;
}

form {
    padding-top: 1rem;
}

/* ===== ===== ===== Right Panel ===== ===== ===== */
.p-5 {
    background-color: #A4B465;
}

.custom-park {
    padding-top: 1rem;
}

.scrollable-panel {
    overflow-y: auto;
    padding-right: 1rem;
}

/* ===== ===== ===== Park Lists ===== ===== ===== */
.bg-light {
    background-color: #fdf8e4 !important;
}
#parks {
    color: #626F47;
    font-size: 1.4rem;
}
.me-2 {
    color: #626F47; /* Ratings */
}

/* ===== ===== ===== Borderline in the middle of panels ===== ===== ===== */
.custom-divider-left { /* Explore, review, submit, and park pages */
    border-left: 1rem solid #FEFAE0 !important;
}

.custom-divider-top { /* Handy resource page */
    border-top: 1rem solid #FEFAE0 !important;
}

/* ===== ===== ===== Buttons ===== ===== ===== */
.btn-success {
    background-color: #ffc250df;
    border: none;
    color: white;
}
.btn-success:hover {
    background-color: #626F47;
    border: none;
    color: white;
}
.btn-success:hover::after {
    background-color: #626F47;
    border: none;
    color: black;
}
input[type="file"] { /* Hides a 'Choose File' message */
    display: none;
}

/* ===== ===== ===== Checkbox Toggles ===== ===== ===== */
.custom-btn {
    background-color: #ffc250df;
    border-radius: 15px;
    border-color: 2px solid;
    color: white;
}
.custom-btn:hover {
    background-color: #626F47 !important;
    color: white !important;
}
.btn-check:checked + .custom-btn {
    background-color: #626F47 !important;
    color: white !important;
}

/* ===== ===== ===== Texts ===== ===== ===== */
h2, h3, h6 {
    color: white;
    font-weight: 600;
}

